/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Scene Styles */
#scene {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.character {
  position: absolute;
  margin-top: auto;
  top: auto;
  margin-bottom: 0;
  bottom: 0;
  max-width: 30%;
  max-height: 100%;
  transition: transform 0.5s ease;
}

.character.one {
  left: 15%;
  transform: translate(-50%, 0);
}

.character.two {
  right: 15%;
  transform: translate(50%, 0);
}

/* Dialogue Box Styles */
#dialogue-box {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #8888;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  font-size: 1.5rem;
  backdrop-filter: blur(5px);
}

/* Choices Styles */
#choices {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.choice {
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice:hover {
  background-color: #fff;
  color: #f00;
}

/* Toast Styles */
.toast {
  position: fixed;
  top: -50px;
  left: 10px;
  background-color: rgba(128, 128, 128, 0.8);
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 2rem; /* Increased font size for better readability */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1000;
}

.toast.show {
  top: 10px;
  opacity: 1;
}

/* Styles for the character name tag */
#character-name-tag {
  position: absolute;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px 10px 0 0; /* Rounded top corners */
  font-size: 16px; /* Larger text */
  font-weight: bold;
  z-index: 10;
  border: 2px solid white; /* Border */
  border-bottom: none;
  display: none; /* Initially hidden */
}
